# gradle

.gradle/
build/classes
build/libs
build/generated
build/loom-cache
build/resources
build/tmp
out/
classes/
# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/